@import"https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap";

* {
    box-sizing: border-box;
}

body {
    background-color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    width: 100%;
    height: 84px;
}

.center-buttons {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 45px;
    top: 25px;
}

.button-trade {
    padding: 10px 15px;
    margin: 0 10px;
    border: 2px solid #0079bf;
    background: #111111;
    color: #0ca0eb;
    border-radius: 5px;
    margin-bottom: -5px;
    display: flex;
    font-size: 16px;
    margin-left: 5px;
    outline: 0 none;
    font-family: 'Haken Grotesk', sans-serif;
}
.button-bridge {
    padding: 10px 10px;
    margin: 0 5px;
    background-color: #111111;
    color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -5px;
    display: flex;
    font-size: 15px;
    font-family: 'Haken Grotesk', sans-serif;
    opacity: 0.3;
}
.soon{
    padding: 1px 5px;
    margin: 0 5px;
    color: #0079bf;
    border-color: #0ca0eb;
    border-radius: 5px;
    font-size: 12px;
    margin-top: -1px;
    border: 1px solid #0ca0eb;
}
.button-wallet {
    padding: 10px 20px;
    font-weight: 500;
    margin: 0 5px;
    background-color: #0079bf;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -5px;
    display: flex;
    font-size: 16px;
    font-family: 'Haken Grotesk', sans-serif;
}

.h {
    max-width: 450px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: #17181b;
    margin: 5px auto;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    top: 100px;
}

.swap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 160px;
    right: 5px;
}
.button-swap {
    padding: 10px 10px;
    margin: 0 5px;
    background-color: #0079bf;
    color: #111111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    font-size: 16px;
}

.icon {
    background-color: #111111;
    color: grey;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 25px;
}

.swap-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.paying {
    position: absolute;
    bottom: 45px;
    color: #9aa0a6;
    font-size: 14px;
    left: -5px;
}

.swap-input input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.select-box {
    background-color: #282a2d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 250px;
}

.select-box option {
    background-color: #17181b;
    color: white;
    border-radius: 5px;
}

.s {
    max-width: 450px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: #17181b;
    margin: 5px auto;
    text-align: center;
    position: relative;
    top: 100px;
}

.swap-slider {
    position: absolute;
    top: 60px;
    left: 215px;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.percent {
    padding: 5px 13px;
    background-color: #282a2d;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
}

.arrow {
    padding: 10px;
    background-color: #282a2d;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: -40px;
    right: 235px;
    transform: translateX(50%);

}

.swap-button {
    width: 44%;
    padding: 20px;
    background-color: #0079bf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 200px;
    right: 285px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 60px;
    margin-top: 285px;
    font-size: 13px;
}


.links a {
    margin-left: 30px;
    text-decoration: none;
    color: grey;
}

.copyright {
    color: grey;
    margin-bottom: 0;
    text-decoration: none;
}
