@import"https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap";

* {
    box-sizing: border-box;
}

body {
    background-color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    width: 100%;
    height: 84px;
}

.center-buttons {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 45px;
    top: 25px;
}

.button-trade {
    padding: 10px 15px;
    margin: 0 10px;
    border: 2px solid #0079bf;
    background: #111111;
    color: #0ca0eb;
    border-radius: 5px;
    margin-bottom: -5px;
    display: flex;
    font-size: 16px;
    margin-left: 5px;
    outline: 0 none;
    font-family: 'Haken Grotesk', sans-serif;
}

.button-bridge {
    padding: 10px 10px;
    margin: 0 5px;
    background-color: #111111;
    color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -5px;
    display: flex;
    font-size: 15px;
    font-family: 'Haken Grotesk', sans-serif;
    opacity: 0.3;
}

.soon {
    padding: 1px 5px;
    margin: 0 5px;
    color: #0079bf;
    border-color: #0ca0eb;
    border-radius: 5px;
    font-size: 12px;
    margin-top: -1px;
    border: 1px solid #0ca0eb;
}

.button-wallet {
    padding: 10px 20px;
    font-weight: 500;
    margin: 0 5px;
    background-color: #0079bf;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: -5px;
    display: flex;
    font-size: 16px;
    font-family: 'Haken Grotesk', sans-serif;
}

.h {
    max-width: 450px;
    height: 150px;
    padding: 20px;
    border-radius: 5px;
    background: #17181b;
    margin: 5px auto;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    top: 100px;
}

.swap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 160px;
    right: 5px;
}

.button-swap {
    padding: 10px 10px;
    margin: 0 5px;
    background: #0079bf;
    color: #111111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    font-size: 16px;
}

.icon {
    background-color: #111111;
    color: grey;
    border-radius: 5px;
    border: 1px solid #363636;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 30px 10px 15px;
    position: relative;
    left: 5px;
    font-weight: bold;
    font-family: 'Hanken Grotesk', sans-serif;
}

.swap-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.swap-input input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    left: -10px;
    bottom: -10px;
}

.swap-input .paying {
    position: absolute;
    bottom: 40px;
    color: #9aa0a6;
    font-size: 14px;
    left: -5px;
    font-family: 'Haken Grotesk', sans-serif;
}
.swap-input2 input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background: transparent;
    outline: none;
    color: #9aa0a6;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    left: 10px;
    bottom: 46px;
}
.swap-input2 .receive {
    position: absolute;
    top: 5px;
    left: 15px;
    color: #9aa0a6;
    font-size: 14px;
    font-family: 'Haken Grotesk', sans-serif;

}

.swap-input .select-box {
    background-color: #17181b;
    color: white;
    border: 1px solid #363636;
    border-radius: 20px;
    padding: 7px 30px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 310px;

}

.swap-input2 .select-box2 {
    background-color: #17181b;
    color: white;
    border: 1px solid #363636;
    border-radius: 20px;
    padding: 7px 30px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 285px;
    position: absolute;
    top: 55px;
    left: 20px;
}

.s {
    max-width: 450px;
    height: 150px;
    padding: 20px;
    border-radius: 5px;
    background-color: #17181b;
    margin: 5px auto;
    text-align: center;
    position: relative;
    top: 100px;
}

.swap-slider {
    position: absolute;
    top: 60px;
    left: 215px;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.percent {
    padding: 2px 10px 2px;
    background: #3c4043;
    color: #9aa0a6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
    position: relative;
    right: 22px;
    bottom: 5px;
}

.arrow {
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    background-color: #282a2d;
    color: white;
    border: 1px solid black;
    border-radius: 48%;
    cursor: pointer;
    position: absolute;
    bottom: -50px;
    right: 235px;
    transform: translateX(50%);
    z-index: 1;
}

.connect-wallet {
    width: 450px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #0079bf;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Haken Grotesk', sans-serif;
    position: relative;
    bottom: -145px;
    left: -20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    font-size: 13px;
    position: relative;
}


.footer .links a {
    text-decoration: none;
    color: grey;
    font-family: 'Haken Grotesk', sans-serif;
    position: fixed;
    right: 245px;
    bottom: 25px;
}

.footer .links2 a {
    text-decoration: none;
    color: grey;
    font-family: 'Haken Grotesk', sans-serif;
    position: fixed;
    right: 115px;
    bottom: 25px;
}

.footer .copyright {
    color: grey;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
}

.footer .copyright a {
    color: grey;
    text-decoration: none;

}
.footer .copyright a i{
    margin-left: 15px;
}